*{padding:0; margin:0;}
a{text-decoration:none;}
li{list-style:none;}
body *{word-break: keep-all;}
body{position:relative; font-family: 'Noto Sans KR', sans-serif;}

@media(min-width:1220px){
    /*header*/
    header{width:100%; height:150px; margin:0px auto;  position: absolute; top:0; align-items:center;}
    .header_wrap{width:100%; height:100%; margin:0px auto; position:relative; z-index:1; }
    header h1{display:block;transform:translate(-50%,30%); position:absolute; top:0; left:50%; }
    header h1 img{width:100px;}    
    .menu{width:fit-content; position:absolute; right:50px; top:50px; z-index:4; position:fixed;}
    .menu a{display:block; padding:20px 5px;cursor:pointer; }
    .menu a:hover .menu_1{margin:0; transform:rotate(45deg); transition-duration:1s;}
    .menu a:hover .menu_2{margin:0;transform:rotate(135deg) translate(-5px,5px); transition-duration:1s;}
    .menu a div{width:50px; height:8px; background:#333;}
    .menu_1{margin-bottom:15px;}
    .menu_2{margin-left:10px;}
    .gnb{width:100%; height:100vh; position:absolute; top:0; display:none; z-index:2; position:fixed;}
    .gnb li{ width:100%; height:16.6%; border-bottom:1px solid #fff; background:rgba(10,10,10,0.7);text-align:center; padding-top:0.5vw; box-sizing:border-box;}
    .gnb a{color:#fff; font-size:5vw;}

    /*container*/
    #container{width:100%; margin:0px auto; padding-top:200px;position:relative; }
    .conwrap{width:85%; height:fit-content; margin:0px auto; display:flex; justify-content: space-between; align-items: start;}
    .con1_a{width:33%; margin-top:30%;}
    .con1_a li:last-child, .con1_b li:last-child{margin-top:100%;}
    .con1_a_t{padding-left:10%; box-sizing:border-box;}
    .con1_a_t h4{margin-bottom:20px;}
    .con1_b{width:33%;text-align:right; margin-top:60%;}
    .con1_b_t{padding-right:10%; box-sizing:border-box;}
    .conwrap ul>li>div:first-child{width:80%; height:30vw;}
    .con1_b>li>div:first-child{display:inline-block;}
    .con_box1{background:url(../img/con_box1.jpg)no-repeat center; background-size:cover;border-radius:50vw;}
    .con_box2{background:url(../img/con_box2.jpg)no-repeat; background-position:90%; background-size:cover;border-radius:50vw;}
    .con_box3{background:url(../img/con_box3.jpg)no-repeat center; background-size:cover; border-radius:50vw;}
    .con_box4{background:url(../img/con_box4.png)no-repeat center; background-size:cover;border-radius:50vw;}
    

    .conwrap h3{color:#117e0d; margin:50px 0;}
    .jangsoo{width:33%; height:180vw;  position:relative; }
    .jangsoo_t{width:100%; margin:0px auto; font-size:4vw;}
    .jangsoo_t_1{display:flex; justify-content: space-between; margin-bottom:2.5vw;}
    .jangsoo_t_2{display:flex; justify-content:space-between;}
    .jangsoom{width:60%; display:block; margin:-27% auto; position:-webkit-sticky; position:sticky; top:0; left:0;} 
    .con1{width:100%; margin:0px auto; display:flex; justify-content:space-between; flex-wrap:wrap;}
    .con1 li{width:50%; box-sizing:border-box;}
    .con1>div{width:50%; height:10vw;}

    .con2wrap{width:90%; margin:12% auto; display:flex; justify-content: space-between; align-items:center;}
    .con2wrap button{width:5%; height:fit-content; background:none; border:none;}
    .con2wrap span{font-size:4vw; font-weight:lighter; color:#ccc;}
    .con2_box{width:90%; margin:0px auto; overflow:hidden; }
    .con2{width:200%; display:flex; justify-content:space-between; margin:0 auto;}
    .con2 li{width:15%; margin:0px auto; text-align:center;}
    .con2 li a{width:100%; height:28vw; margin:0px auto;display:block;}
    .con2 li:nth-child(1) a{background:url(../img/a1.jpg)no-repeat center; background-position:70%; background-size:cover; border-radius:5vw;}
    .con2 li:nth-child(2) a{background:url(../img/a2.jpg)no-repeat center; background-position:70%; background-size:cover; border-radius:5vw;}
    .con2 li:nth-child(3) a{background:url(../img/a3.jpg)no-repeat center; background-position:70%; background-size:cover; border-radius:5vw;}
    .con2 h4{color:#117e0d; margin:30px 0;}
    /*footer*/
    footer{width:100%; background:#333; }
    .footer_wrap{width:90%; margin:0px auto; padding:10px 0 50px;}
    .footer_logo{width:100px; display:block; margin:50px auto;}
    .footer_logo>img{width:100%;}
    .footer_con1{width:100%; display:flex; justify-content: space-between;}
    .footer_l{width:65%;}
    .footer_l ul:first-child{width:100%; display:flex; justify-content: space-between; margin-bottom:50px; }
    .footer_l ul a{color:#fff; font-size:16px;}
    .footer_l ul{color:#fff; font-size:14px; line-height:25px; }
    .footer_r ul a{color:#fff;font-size:22px;}
    .footer_r li{width:fit-content; margin-bottom:10px;}
    .footer_r a{display:block; justify-content: space-between; align-items:center; display:flex;}
    .footer_r img{display:block;}
       
}
@media(min-width:768px) and (max-width:1219px){
    /*header*/
    header{width:100%; height:150px; margin:0px auto;  position: absolute; top:0; align-items:center;}
    .header_wrap{width:100%; height:100%; margin:0px auto; position:relative; z-index:1; }
    header h1{display:block;transform:translate(-50%,30%); position:absolute; top:0; left:50%; }
    header h1 img{width:100px;}    
    .menu{width:fit-content; position:absolute; right:50px; top:50px; z-index:2;}
    .menu a{display:block; padding:20px 5px;cursor:pointer; }
    .menu a:hover .menu_1{margin:0; transform:rotate(45deg); transition-duration:1s;}
    .menu a:hover .menu_2{margin:0;transform:rotate(135deg) translate(-5px,5px); transition-duration:1s;}
    .menu a div{width:50px; height:8px; background:#333;}
    .menu_1{margin-bottom:15px;}
    .menu_2{margin-left:10px;}
    .gnb{width:100%; height:100vh; position:absolute; top:0; display:none; z-index:2; position:fixed;}
    .gnb li{ width:100%; height:16.6%; border-bottom:1px solid #fff; background:rgba(10,10,10,0.7);text-align:center; position:relative;}
    .gnb a{position:absolute; top:50%; left:50%; transform:translate(-50%,-50%); display:block; color:#fff; font-size:5vw;}

    /*container*/
    #container{width:100%; margin:0px auto; padding-top:200px;position:relative; }
    .conwrap{width:85%; height:fit-content; margin:0px auto; display:flex; justify-content: space-between; align-items: start;}
    .con1_a{width:33%; margin-top:30%;}
    .con1_a li:last-child, .con1_b li:last-child{margin-top:100%;}
    .con1_a_t{padding-left:10%; box-sizing:border-box;}
    .con1_a_t h4{margin-bottom:20px;}
    .con1_b{width:33%;text-align:right; margin-top:60%;}
    .con1_b_t{padding-right:10%; box-sizing:border-box;}
    .conwrap ul>li>div:first-child{width:80%; height:30vw;}
    .con1_b>li>div:first-child{display:inline-block;}
    .con_box1{background:url(../img/con_box1.jpg)no-repeat center; background-size:cover;border-radius:50vw;}
    .con_box2{background:url(../img/con_box2.jpg)no-repeat; background-position:90%; background-size:cover;border-radius:50vw;}
    .con_box3{background:url(../img/con_box3.jpg)no-repeat center; background-size:cover; border-radius:50vw;}
    .con_box4{background:url(../img/con_box4.png)no-repeat center; background-size:cover;border-radius:50vw;}
    

    .conwrap h3{color:#117e0d; margin:50px 0;}
    .jangsoo{width:33%; height:280vw;  position:relative; }
    .jangsoo_t{width:100%; margin:0px auto; font-size:4vw;}
    .jangsoo_t_1{display:flex; justify-content: space-between; margin-bottom:2.5vw;}
    .jangsoo_t_2{display:flex; justify-content:space-between;}
    .jangsoom{width:70%; display:block; margin:-27% auto; position:-webkit-sticky; position:sticky; top:0; left:0;} 
    .con1{width:100%; margin:0px auto; display:flex; justify-content:space-between; flex-wrap:wrap;}
    .con1 li{width:50%; box-sizing:border-box;}
    .con1>div{width:50%; height:10vw;}

    .con2wrap{width:90%; margin:12% auto; display:flex; justify-content: space-between; align-items:center;}
    .con2wrap button{width:5%; height:fit-content; background:none; border:none;}
    .con2wrap span{font-size:4vw; font-weight:lighter; color:#ccc;}
    .con2_box{width:90%; margin:0px auto; overflow:hidden; }
    .con2{width:200%; display:flex; justify-content:space-between; margin:0 auto;}
    .con2 li{width:15%; margin:0px auto; text-align:center;}
    .con2 li a{width:100%; height:28vw; margin:0px auto;display:block;}
    .con2 li:nth-child(1) a{background:url(../img/a1.jpg)no-repeat center; background-position:70%; background-size:cover; border-radius:5vw;}
    .con2 li:nth-child(2) a{background:url(../img/a2.jpg)no-repeat center; background-position:70%; background-size:cover; border-radius:5vw;}
    .con2 li:nth-child(3) a{background:url(../img/a3.jpg)no-repeat center; background-position:70%; background-size:cover; border-radius:5vw;}
    .con2 h4{color:#117e0d; margin:30px 0;}

    /*footer*/
    footer{width:100%; background:#333;}
    .footer_wrap{width:90%; margin:0px auto; padding:10px 0 50px;}
    .footer_logo{width:100px; display:block; margin:50px auto;}
    .footer_logo>img{width:100%;}
    .footer_con1{width:100%; display:flex; justify-content: space-between;}
    .footer_l{width:65%;}
    .footer_l ul:first-child{width:100%; display:flex; flex-wrap:wrap; justify-content: space-between; margin-bottom:50px; }
    .footer_l ul:first-child li{width:50%; margin-bottom:10px;}
    .footer_l ul a{color:#fff; font-size:16px;}
    .footer_l ul{color:#fff; font-size:14px; line-height:25px; }
    .footer_r ul a{color:#fff;font-size:22px;}
    .footer_r li{width:fit-content; margin-bottom:10px;}
    .footer_r a{display:block; justify-content: space-between; align-items:center; display:flex;}
    .footer_r img{display:block;}
}
@media(max-width:767px){
    /*header*/
    header{width:100%; height:150px; margin:0px auto;  position: absolute; top:0; align-items:center;}
    .header_wrap{width:100%; height:100%; margin:0px auto; position:relative; z-index:1; }
    header h1{display:block;transform:translate(-50%,30%); position:absolute; top:0; left:50%; }
    header h1 img{width:100px;}    
    .menu{width:fit-content; position:absolute; right:50px; top:50px; z-index:2;}
    .menu a{display:block; padding:20px 5px;}
    .menu a:hover .menu_1{margin:0; transform:rotate(45deg); transition-duration:1s;}
    .menu a:hover .menu_2{margin:0;transform:rotate(135deg) translate(-5px,5px); transition-duration:1s;}
    .menu a div{width:50px; height:8px; background:#333;}
    .menu_1{margin-bottom:15px;}
    .menu_2{margin-left:10px;}
    .gnb{width:100%; height:100vh; position:absolute; top:0; display:none;}
    .gnb li{ width:100%; height:16.6%; border-bottom:1px solid #fff; background:rgba(10,10,10,0.7);text-align:center; position:relative;}
    .gnb a{position:absolute; top:50%; left:50%; transform:translate(-50%,-50%); display:block; color:#fff; font-size:5vw;}

    /*container*/
    #container{width:100%; margin:0px auto; padding-top:200px;position:relative; }
    .conwrap{width:90%; margin:0px auto; display:flex; justify-content: space-between; align-items: start;}
    .con1_a{width:33%; margin-top:30%;}
    .con1_a li:last-child, .con1_b li:last-child{margin-top:100%;}
    .con1_a_t{padding-left:10%; box-sizing:border-box;}
    .con1_a_t h4{margin-bottom:20px;}
    .con1_b{width:33%;text-align:right; margin-top:60%;}
    .con1_b_t{padding-right:10%; box-sizing:border-box;}
    .conwrap ul>li>div:first-child{width:80%; height:30vw;}
    .con1_b>li>div:first-child{display:inline-block;}
    .con_box1{background:url(../img/con_box1.jpg)no-repeat center; background-size:cover;border-radius:50vw;}
    .con_box2{background:url(../img/con_box2.jpg)no-repeat; background-position:90%; background-size:cover;border-radius:50vw;}
    .con_box3{background:url(../img/con_box3.jpg)no-repeat center; background-size:cover; border-radius:50vw;}
    .con_box4{background:url(../img/con_box4.png)no-repeat center; background-size:cover;border-radius:50vw;}
    

    .conwrap h3{color:#117e0d; margin:50px 0;}
    .jangsoo{width:33%; height:270vh; position:relative; }
    .jangsoo_t{width:100%; margin:0px auto; font-size:4vw;}
    .jangsoo_t_1{display:flex; justify-content: space-between; margin-bottom:2.5vw;}
    .jangsoo_t_2{display:flex; justify-content:space-between;}
    .jangsoom{width:70%; display:block; margin:-27% auto; position:-webkit-sticky; position:sticky; top:0; left:0;} 
    .con1{width:100%; margin:0px auto; display:flex; justify-content:space-between; flex-wrap:wrap;}
    .con1 li{width:50%; box-sizing:border-box;}
    .con1>div{width:50%; height:10vw;}

    .con2wrap{width:90%; margin:12% auto; display:flex; justify-content: space-between; align-items:center;}
    .con2wrap button{width:5%; height:fit-content; background:none; border:none;}
    .con2wrap span{font-size:4vw; font-weight:lighter; color:#ccc;}
    .con2_box{width:90%; margin:0px auto; overflow:hidden; }
    .con2{width:200%; display:flex; justify-content:space-between; margin:0 auto;}
    .con2 li{width:15%; margin:0px auto; text-align:center;}
    .con2 li a{width:100%; height:28vw; margin:0px auto;display:block;}
    .con2 li:nth-child(1) a{background:url(../img/a1.jpg)no-repeat center; background-position:70%; background-size:cover; border-radius:5vw;}
    .con2 li:nth-child(2) a{background:url(../img/a2.jpg)no-repeat center; background-position:70%; background-size:cover; border-radius:5vw;}
    .con2 li:nth-child(3) a{background:url(../img/a3.jpg)no-repeat center; background-position:70%; background-size:cover; border-radius:5vw;}
    .con2 h4{color:#117e0d; margin:30px 0;}

    /*footer*/
    footer{width:100%; background:#333;}
    .footer_wrap{width:90%; margin:0px auto; padding:10px 0 50px;}
    .footer_logo{width:100px; display:block; margin:50px auto;}
    .footer_logo>img{width:100%;}
    .footer_con1{width:100%;}
    .footer_l{width:100%; margin-bottom:50px;}
    .footer_l ul{width:100%; color:#fff; font-size:14px; line-height:25px; }
    .footer_l ul:first-child{width:100%; display:flex; flex-wrap:wrap; justify-content: space-between; margin-bottom:50px; }
    .footer_l ul:first-child li{margin-bottom:10px; margin:0px auto 10px;}
    .footer_l ul a{color:#fff; font-size:16px;}
    .footer_r{width:fit-content;margin:0px auto;}
    .footer_r ul a{color:#fff;font-size:4vw;}
    .footer_r li{width:fit-content; margin-bottom:10px;}
    .footer_r a{display:block; justify-content: space-between; align-items:center; display:flex;}
    .footer_r img{display:block;}

}